@model TrabajadoresModel

@{
    List<string> oficios =
            ViewData["OFICIOS"] as List<string>;
}

<h1>Procedimiento Salida Trabajadores</h1>

<a asp-controller="Trabajadores" asp-action="Index">
    Volver al Index
</a>

<form method="post" class="mt-3">
    <label class="form-label">Oficio</label>
    <select class="form-select" name="oficio">
        @foreach (string oficio in oficios)
        {
            <option value="@oficio">@oficio</option>
        }
    </select>
    <button class="btn btn-primary mt-3">Mostrar trabajadores</button>
</form>

@if (Model != null)
{
    <ul class="list-group mt-3">
        <li class="list-group-item">Personas: @Model.Personas</li>
        <li class="list-group-item">Media: @Model.MediaSalarial</li>
        <li class="list-group-item">Suma: @Model.SumaSalarial</li>
    </ul>
    <table class="table table-borderless mt-3">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Trabajador trabajador in Model.Trabajadores)
            {
                <tr>
                    <td>@trabajador.Apellido</td>
                    <td>@trabajador.Oficio</td>
                    <td>@trabajador.Salario</td>
                </tr>
            }
        </tbody>
    </table>
}